
<%- include("partials/header"); -%>
    <div class="container">
        <div class="main_content">
            <h2 class="post-header">Know the source and best ways to remove acne</h2>
            <div class="main-post content">
                <div class="main-image">
                    <img src="https://images.pexels.com/photos/6475987/pexels-photo-6475987.jpeg?auto=compress&cs=tinysrgb&w=600" alt="acne">
                </div>
                <div class="post left-post">
                    Acne is a common skin condition that affects millions of individuals worldwide.
                    It can be frustrating and impact one's self-esteem, leading many to seek effective solutions.
                    This article aims to provide a comprehensive overview of acne, its sources, and various approaches to remove and prevent it.
                    Additionally, we'll explore some of the best products available to combat acne... <a href="acne">Read more</a>
                </div>
            </div>
        </div>

        <h2 class="post-header">Empowering Your Health Journey with Diet and Fitness</h2>
        <div class="content">
            <div class="post">
               <span class="post-title">W</span>elcome to our blog, Your ultimate destination for diet and fitness, Whether you're a health enthusiast,
                a beginner looking to kickstart your wellness journey, or someone simply seeking practical tips to maintain a healthy lifestyle,
                you've come to the right place. 
                <div class="post-image" >
                    <img class="image-cover" src="https://img.freepik.com/free-vector/welcome-concept-illustration_114360-380.jpg?w=740&t=st=1689169610~exp=1689170210~hmac=dbcd0086cb6486d88dba7386f8d75b4d12a823a5262983b00f17b9232fb2aefd" alt="welcome">
                </div>
            </div>
            
            <div class="post">
                <span class="post-title">W</span>e believe that taking care of your body is one of the greatest investments you can make,
                Our blog is designed to provide you with a wealth of knowledge, expert advice, and inspiring content to help you achieve your fitness goals
                ,all from the comfort of your own home.
                <!-- image of a person with a phone sitting at a couch -->
                <div class="post-image">
                    <img class="image-cover" src="https://images.unsplash.com/flagged/photo-1576697362153-ac5f08c9b140?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="a person sitting at home">
                </div>

            </div>
                
            <div class="post">
                Discover a world of nutritious and delicious recipes tailored to support your health and weight management goals.
                From mouthwatering smoothies and wholesome breakfast options to guilt-free desserts and satisfying main courses,
                our recipes will fuel your body and tantalize your taste buds.
                <div class="post-image">
                    <img class="image-cover" src="https://images.pexels.com/photos/907865/pexels-photo-907865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="a person drinking water">
                </div>
                <!-- a picture of someone drinking water or someone tasting food -->
            </div>

            <div class="post">
                Our fitness section is packed with effective home workout routines suitable for all fitness levels.
                Whether you prefer cardio, strength training, yoga, or a combination of various exercises, we've got you covered.
                We will guide you through step-by-step instructions and provide helpful tips to maximize your results.
                <!-- a picture of someone doing yoga, or cardio or running/joging-->
                <div class="post-image">
                    <img class="image-cover" src="https://plus.unsplash.com/premium_photo-1680043002139-8f92841d69f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="picture of people joging">
                </div>
            </div>

            <div class="post">
                Beyond nutrition and exercise, we delve into the science behind healthy living, exploring topics such as sleep hygiene, stress management, and mindfulness.
                We believe that true wellness encompasses all aspects of your life, and our aim is to empower you with the tools to achieve balance and harmony.
            <!-- picture showing science sleep hygiene or mindfulness of brain -->
                <div class="post-image">
                    <img class="image-cover" src="https://img.freepik.com/free-photo/3d-medical-figure-with-brain-highlighted_1048-8345.jpg?w=740&t=st=1689168400~exp=1689169000~hmac=e93580dba827034ab65e20cc6162ed486b83ccece0b5b0a4695440056b2123ff" alt="human brain">
                </div>
            </div>

            <div class="post">
                Join our vibrant community of health enthusiasts, where you can engage in discussions, share your success stories, and seek advice from fellow readers
                We foster a supportive and inclusive environment, welcoming individuals from all walks of life on their wellness journeys.
                Remember, the path to a healthier begins with small consistent steps.
            </div>

            <div class="post ">
                So, dive into our blog, explore the wealth of information available, and embark on a transformative journey towards a fitter, happier, and more vibrant you.
                Together, let's embrace the power of diet and fitness, and unlock your true potential.
            </div>

            <div class="post">
                <span class="post-title">Welcome to our blog, where your well-being is our top priority</span>
            </div>
        </div>
    </div>
    
    <% posts.forEach((post) => { %>
        <h1><%= post.title %></h1>
        <p>
            <%=  post.body.substring(0, 100) + " ... " %>
                <a href="<%= "posts/" + post.title %>">Read More</a>
        </p>
        
    <% }) %>
<%- include("partials/footer") -%>